{% extends 'myapp/base.html' %}

{% block body %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-6">
            <img width = '400' src='{{book.book_image.url}}'>
        </div>
        <div class="col-md-6">
            <h2>{{book.name}}</h2>
            <h5>Description: {{book.desc}}</h6>
            <h6>Price: ${{book.price}}</h6>
            <a class="btn btn-warning" href='{% url "myapp:update" book.id %}'>Update</a>
            <a class="btn btn-danger" href='{% url "myapp:delete" book.id %}'>Delete</a>
        </div>
    </div>
</div>


{% endblock %}
 